.container-img {
  max-width: 100px;
}
.container-img_image {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}
.container-img_text {
  display: inline-block;
  width: 80%;
}
@media (max-width: 100px) {
  .container-img_text {
    width: 100%;
  }
}
