#divFieldDigito {
    justify-content: flex-end;
}


#divFieldAsesorInversion label {
    width: 20em;
    text-align: end
}

#divFieldTipoManifiesto label {
    width: 20em;
    text-align: end
}

#divFieldServicioInversion label {
    width: 20em;
    text-align: end
}

#divFieldCartaEjecucion label {
    width: 20em;
    text-align: end
}

#divFieldCartaEjecucionDos label {
    width: 20em;
    text-align: end
}

#divFieldInstitucionalPractVta label {
    width: 20em;
    text-align: end
}

#divFieldSofisticadoNosofisticado label {
    width: 20em;
    text-align: end
}

#divFieldElegibleNoelegible label {
    width: 20em;
    text-align: end
}

#divFieldCalificadoNocalificado label {
    width: 20em;
    text-align: end
}

#divFieldDiscrecionalNodiscrecional label {
    width: 20em;
    text-align: end
}

#divFieldAnexoDescriptivo label {
    width: 20em;
    text-align: end
}

#divFieldFechaCartaEjecucion label {
    width: 3.1em;
    text-align: end
}

#divFieldFechaCartaEjecucionDos label {
    width: 3.1em;
    text-align: end
}

#divFieldInstitucionalPractVta label {
    width: 2.9em;
    text-align: end
}

#divFieldFechaSofisticadoNosofisticado label {
    width: 2.9em;
    text-align: end
}

#divFieldFechaElegibleNoelegible label {
    width: 2.9em;
    text-align: end
}

#divFieldFechaCalificadoNocalificado label {
    width: 2.9em;
    text-align: end
}

#divFieldFechaDiscrecionalNodiscrecional label {
    width: 2.9em;
    text-align: end
}

#divFieldTextAreaObservaciones label {
    width: 2em;
    text-align: end
}

#divFieldFechaApertura label {
    width: 14em;
    text-align: end
}

#divFieldMontoInicial label {
    width: 17em;
    text-align: end
}

#divFieldSector label {
    width: 14em;
    text-align: end
}

#divFieldResidencia label {
    width: 17em;
    text-align: end
}

#divFieldEnvioCorrespondencia label {
    width: 14em;
    text-align: end
}

#divFieldTipoCuenta label {
    width: 17em;
    text-align: end
}

#comisiones-impuestos-span {
    width: 14em;
    text-align: end;
    font-weight: 700
}

#divFieldManejoCuenta {
    margin-left: 19.9em
}

#divFieldManejoCuenta label {
    width: 17em;
    text-align: end
}

#divFieldCustodiaAdmon label {
    width: 14em;
    text-align: end
}

#divFieldLimMaxOperacion label {
    width: 17em;
    text-align: end
}

#divFieldIsrMdoDin label {
    width: 14em;
    text-align: end
}

#divFieldFechaUltMov label {
    width: 17em;
    text-align: end
}

#divFieldPorcentajeAcumIsr label {
    width: 14em;
    text-align: end
}

#divFieldPorcentajeAcumIde label {
    width: 17em;
    text-align: end
}

#divFieldImprimeEstadoCuenta label {
    width: 14em;
    text-align: end
}

#conocimiento_experiencia td.question {
    text-align: right
}

.heigtTabla {
    height: 31em
}

.heigthTablaM {
    height: 27.5em
}

.heigthTablaC {
    height: 15em
}

.field .input:disabled {
    text-align: center
}

.container-img {
    max-width: 100px
}

.container-img_image {
    display: inline-block;
    vertical-align: middle;
    width: 15%
}

.container-img_text {
    display: inline-block;
    width: 80%
}

@media (max-width:100px) {
    .container-img_text {
        width: 100%
    }
}

/*
#field_digito {} */

/*# sourceMappingURL=../../../maps/accimarket/27-administracion-datos-generales/styles.css.map */




#divFieldPmeNombreCorto label,
#divFieldPmePais label,
#divFieldPmeRfcgpoPertenencia label,
#divFieldPmeCustLocal label,
#divFieldPmeNacionalidad label,
#divFieldPmeRecompra label,
#divFieldPmeCteBnmx label,
#divFieldPmeGpoNacional label,
#divFieldPmeClasificacion label {

    width: 10em;
    text-align: left;
}

#divFieldPmeNombreCorto input,
#divFieldPmePais input,
#divFieldPmeCustLocal input,
#divFieldPmeRfcgpoPertenencia input,
#divFieldPmeNacionalidad input,
#divFieldPmeGpoNacional input,
#divFieldPmeRecompra input,
#divFieldPmeCteBnmx input,
#divFieldPmeClasificacion input {
    text-align: right;
}


#divFieldNombreCorto label,
#divFieldTipoUnidad label,
#divFieldNumNotario label,
#divFieldNomNotario label,
#divFieldNumEscConst label,
#divFieldFechaEscCons label,
#divFieldRegPubComer label,
#divFieldRecompra label,
#divFieldCteBnmx label,
#divFieldObsEscritura label,
#divFieldClasificacion label,
#divFieldRFC label,
#divFieldFechaRegPubComer label,
#divFieldClasificacionBanxico label {
    width: 10em;
    text-align: left;
}


#divFieldNombreCorto input,
#divFieldTipoUnidad input,
#divFieldNumNotario input,
#divFieldNomNotario input,
#divFieldNumEscConst input,
#divFieldFechaEscCons input,
#divFieldRegPubComer input,
#divFieldRecompra input,
#divFieldCteBnmx input,
#divFieldObsEscritura input,
#divFieldClasificacion input,
#divFieldRFC input,
#divFieldFechaRegPubComer input,
#divFieldClasificacionBanxico input {
    text-align: right;
}

/*# sourceMappingURL=../../../maps/accimarket/27-administracion-datos-generales/styles_titular.css.map */
