#field_digito {
    justify-content: flex-end;
}


#field_asesor_inversion label {
    width: 20em;
    text-align: end
}

#field_tipo_manifiesto label {
    width: 20em;
    text-align: end
}

#field_servicio_inversion label {
    width: 20em;
    text-align: end
}

#field_carta_ejecucion label {
    width: 20em;
    text-align: end
}

#field_carta_ejecucion_2 label {
    width: 20em;
    text-align: end
}

#field_institucional_pract_vta label {
    width: 20em;
    text-align: end
}

#field_sofisticado_nosofisticado label {
    width: 20em;
    text-align: end
}

#field_elegible_noelegible label {
    width: 20em;
    text-align: end
}

#field_calificado_nocalificado label {
    width: 20em;
    text-align: end
}

#field_discrecional_nodiscrecional label {
    width: 20em;
    text-align: end
}

#field_anexo_descriptivo label {
    width: 20em;
    text-align: end
}

#field_fecha_carta_ejecucion label {
    width: 3.1em;
    text-align: end
}

#field_fecha_carta_ejecucion_2 label {
    width: 3.1em;
    text-align: end
}

#field_fecha_institucional_pract_vta label {
    width: 2.9em;
    text-align: end
}

#field_fecha_sofisticado_nosofisticado label {
    width: 2.9em;
    text-align: end
}

#field_fecha_elegible_noelegible label {
    width: 2.9em;
    text-align: end
}

#field_fecha_calificado_nocalificado label {
    width: 2.9em;
    text-align: end
}

#field_fecha_discrecional_nodiscrecional label {
    width: 2.9em;
    text-align: end
}

#field_text_area_observaciones label {
    width: 2em;
    text-align: end
}

#field_fecha_apertura label {
    width: 14em;
    text-align: end
}

#field_monto_inicial label {
    width: 17em;
    text-align: end
}

#field_sector label {
    width: 14em;
    text-align: end
}

#field_residencia label {
    width: 17em;
    text-align: end
}

#field_envio_correspondencia label {
    width: 14em;
    text-align: end
}

#field_tipo_cuenta label {
    width: 17em;
    text-align: end
}

#comisiones-impuestos-span {
    width: 14em;
    text-align: end;
    font-weight: 700
}

#field_manejo_cuenta {
    margin-left: 19.9em
}

#field_manejo_cuenta label {
    width: 17em;
    text-align: end
}

#field_custodia_admon label {
    width: 14em;
    text-align: end
}

#field_lim_max_operacion label {
    width: 17em;
    text-align: end
}

#field_isr_mdo_din label {
    width: 14em;
    text-align: end
}

#field_fecha_ult_mov label {
    width: 17em;
    text-align: end
}

#field_porcentaje_acum_isr label {
    width: 14em;
    text-align: end
}

#field_porcentaje_acum_ide label {
    width: 17em;
    text-align: end
}

#field_imprime_estado_cuenta label {
    width: 14em;
    text-align: end
}

#conocimiento_experiencia td.question {
    text-align: right
}

.heigtTabla {
    height: 31em
}

.heigthTablaM {
    height: 27.5em
}

.heigthTablaC {
    height: 15em
}

.field .input:disabled {
    text-align: center
}

.container-img {
    max-width: 100px
}

.container-img_image {
    display: inline-block;
    vertical-align: middle;
    width: 15%
}

.container-img_text {
    display: inline-block;
    width: 80%
}

@media (max-width:100px) {
    .container-img_text {
        width: 100%
    }
}

/* 
#field_digito {} */

/*# sourceMappingURL=../../../maps/accimarket/27-administracion-datos-generales/styles.css.map */