#divFieldOptionGrupoContrato .field-control {
  display: flex;
  justify-content: space-around;
}

#divFieldOptionTitulosMonto .field-control {
  display: flex;
  justify-content: space-around;
}


#frmDatosOrden {
  height: 530px;
  overflow-y: scroll;
}

#divBotonesListaOrdenes {
  display: flex;
  justify-content: flex-end;
}

#divBotonesDatosOrdenes {
  display: flex;
  justify-content: center;
}

#divContenido {
  width: 72%;
}

#divContenido .card {
  height: 550px;
}

#divFieldFechaLiquidacion label,
#divFieldInputOperacion label,
#divFieldInputEmisora label,
#divFieldInputCantidad label,
#divFieldInputPrecio label,
#divFieldInputTipoCambio label,
#divFieldInputPosicion label,
#divFieldInputEfectivoDisponible label {
  width: 15em;
  text-align: left;
}

#divFieldFechaLiquidacion input,
#divFieldInputOperacion input,
#divFieldInputEmisora input,
#divFieldInputCantidad input,
#divFieldInputPrecio input,
#divFieldInputTipoCambio input,
#divFieldInputPosicion input,
#divFieldInputEfectivoDisponible input {
  text-align: right;
}

.row label {
  width: 5em;
  text-align: left;
}

#field_reset {
  padding: 0px;
  padding-bottom: 1rem;
  flex-direction: row-reverse;
}

#field_reset .field-control {
  width: 20px;
}

#field_reset label {
  width: 15px;
}
