.content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content #pPreguntas {
  padding-left: 0.7em;
}
.content .informativoE {
  margin-top: 3.5em;
  margin-left: 25em;
  height: 36em;
}
.content #dtgInformativo {
  margin-left: 1em;
  width: 70em;
  height: 40em;
}
.content #dtgInformativo tr {
  border: 2px solid #00f;
}
.content #dtgInformativo td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}
.content .estiloColumnaB {
  border-width: 3px;
  border-style: solid none none solid;
  border-color: #00f;
  width: 1em;
}
.content .estiloColumnaD {
  border-width: 3px;
  border-style: none none solid solid;
  border-color: #00f;
}
.content .estiloColumnaA {
  border-width: 3px;
  border-style: solid none none solid;
  border-color: #00f;
  width: 1em;
  height: 4em;
}
.content .estiloColumnaC {
  border-width: 3px;
  border-style: none none solid solid;
  border-color: #00f;
  height: 5em;
}
.content #divGrupoTodo {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content #divGrupoDos {
  width: 48em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content #divGrupoDos #divFieldEstudios label {
  width: 12.5em;
}
.content #divGrupoDos #divFieldOcupacion label {
  width: 12.5em;
}
.content #divGrupoDos #divFieldEstrategia label {
  width: 35em;
}
.content #grupoDos #actividad {
  width: 29em;
}
.content #divGrupoDos #divFieldActual label {
  width: 4.9em;
}
.content #divGrupoDos #divGrupoCuatro {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content #divGrupoTres {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content #divGrupoTres #gdivGupoParrafo {
  width: 112em;
}
.content #divGrupoCuatroDos {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85em;
}
.content #divGrupoCuatroDos #divFieldTolerancia label {
  width: 33.5em;
}
.content #divGrupoCuatroDos #divFieldHorizonteInversion {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.content #divGrupoCuatroDos #divFieldhorizonteInversion label {
  width: 33.5em;
}
.content #divGrupoCuatroDos #divDatosInfoGroup {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content #divGrupoCuatroDos #divDatosInfoGroup #pTextoPortafolio {
  width: 24em;
}
.content #divGrupoInstrumentos {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80em;
  padding-left: 30em;
}
.content #divGrupoInstrumentos label {
  font-weight: 700;
}
.content #divFieldOrigenUno .field-control div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 34em;
}
.content #divFieldOrigenUno .checkbox_input {
  width: 15em;
}
.content #divFieldOtros {
  position: absolute;
  z-index: 1;
  margin-top: 12em;
  margin-left: 60em;
}
.content #pPregunta64 {
  padding-left: 0.8em;
  padding-right: 2em;
}
.content #dtgInformativo {
  width: 70em;
}
.content #dtgInformativo tr {
  border: 2px solid #006fbb;
}
.content #dtgInformativo td {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}
.content #dtgDescripcionPerfil {
  margin-left: 20em;
  width: 65em;
}
.content #dtgDescripcionPerfil tr {
  border: 2px solid #00f;
}
.content #dtgDescripcionPerfil td {
  padding-right: 1rem;
  padding-left: 1rem;
}
.content #grupoAsesor {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.content #divRowEmisoras {
  display: -webkit-box;
}
#dialogText {
  height: 15em;
}
table {
  font-size: 1em;
}

#divGrupoCinco {
  width: 100%;
}
